html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

:root {
  --text-center: center;
  --h1: 64px;
  --h2: 48px;
  --h3: 32px;
  --h4: 16px;
  --header-color: rgba(81, 51, 126, 0.8);
  --api-cell-color: rgba(0,0,0,0.8);
  --database-cell-color: rgba(0,0,0,0.5);
}

.main-container {
  text-align: var(--text-center, center);
}

.header-container {
  background-color: var(--header-color, purple);
  height: 20vh;
}

.flex-container {
  display: flex;
  width: 100%;
  height: 80vh;
}

.api-container {
  background-color: var(--api-cell-color, black);
  width: 60%;
}

.database-container {
  background-color: var(--database-cell-color, blue);
  width: 40%;
}

h1 {
  font-size: var(--h1, 64px);
}
h2 {
  margin: 0 auto;
  font-size: var(--h2, 48px);
}
h3 {
  font-size: var(--h3, 32px);
}
h4 {
  font-size: var(--h4, 16px);
}