html {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

:root {
  --text-center: center;
  --h1: 64px;
  --h2: 48px;
  --h3: 32px;
  --h4: 16px;
  --header-color: rgba(81, 51, 126, 0.8);
  --api-cell-color: rgba(35,145,20,0.4);
  --database-cell-color: rgba(15,40,165,0.4);
}

.small-screen-warning {
  display: none;
}

.main-container {
  text-align: var(--text-center, center);
}

.header-container {
  background-color: var(--header-color, purple);
  margin: 0 auto;
  height: 20vh;
}

.login-container {
  margin-top: -12px;
}

.login-container button {
  padding: 5px;
  border-radius: 10%;
  color: white;
}

.login-box {
  width: 50%;
  height: 20vh;
  margin: 5px auto;
  position: relative;
  background-color: white;
  border: 2px solid black;
  z-index: 10;
}

.login-box input{
  display: block;
  margin: 15px auto;
}

.login-box button {
  display: block;
  margin: 15px auto;
  padding: 4px;
  background-color: lightskyblue;
  color: white;
  text-align: var(--text-center, center);
}

.flex-container {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
}

.grid-container {
  display: grid;
  height: 40vh;
  justify-content: center;
  grid-template-columns: repeat(4, 20%);
  grid-auto-rows: 10%;
}

.grid-header {
  border: 1px solid black;
  background-color: lightgray;
}

.grid-item {
  border: 1px solid black;
  background-color: whitesmoke;
}

.api-container {
  background-color: var(--api-cell-color, black);
  width: 60%;
  text-align: left;
  height: 80vh;
  overflow-y: auto;
}

.search-bar {
  padding: 10px;
  border-radius: 5px;
  width: 40%;
  margin-top: 10px;
}

.search-btn {
  border-radius: 50%;
  width: 4.5%;
  margin-left: 10px;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  html {
    overflow: auto;
  }
  .api-container {
    width: 100%;
    flex-basis: 100%;
  }
  .database-container {
    width: 100%;
    flex-basis: 100%;
  }
}

@media screen and (max-width: 1076px) {
    .search-btn {
      width: 8%;
    }
}

.stocks-section {
  margin-top: 10%;
  width: 80%;
  justify-content: center;
  background-color: bisque;
  border: 2px solid black;
}

#yahoo-info {
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
  margin-top: 15px;
}

#transaction-summary {
  overflow-y: auto;
  max-height: 20vh;
}

.database-container {
  background-color: var(--database-cell-color, blue);
  width: 40%;
  overflow-y: auto;
}

h1 {
  font-size: var(--h1, 64px);
}
h2 {
  margin: 0 auto;
  font-size: var(--h2, 48px);
}
h3 {
  font-size: var(--h3, 32px);
}
h4 {
  font-size: var(--h4, 16px);
}

@media screen and (max-width: 364px) {
  .header-container {
    height: 25vh !important;
  }
}

@media screen and (max-width: 768px)  {
  h1 {
    font-size: 48px !important;
  }
  h2 {
    font-size: 38px !important;
  }
  h3 {
    font-size: 28px !important;
  }
  h4 {
    font-size: 18px !important;
  }
}